<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
    <%- include("./partials/commonJS.ejs") %> <%-
    include("./partials/commonStyle.ejs") %>
    <script src="js/admin_create_bus_stop/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=th"></script>
    
    <style>
      /* CSS for map container */
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container mx-auto" style="margin-top: 100px">
      <div class="text-center text-3xl">
        <span>จัดการรถโดยสาร</span>
      </div>

      <div class="flex justify-between">
        <a href="/admin_list_bus_stop" class="btn-main">กลับ</a>
        <button id="btn_create_busstop" class="btn-main">บันทึก</button>
      </div>

      <div class="shadow-md mt-10">
        <div class="">
          <div class="grid grid-cols-2">
            <div class="col-span-2 w-full p-2">
              <label class="block mb-2">ชื่อจุดจอด:</label>
              <input
              id="inp_busstop_subname"
                type="text"
                class="form-control border border-gray-300 p-2 rounded w-full"
               
              />
            </div>

            <div class="col-span-2 w-full p-2">
              <label class="block mb-2">ละติจูด:</label>
              <input
              id="busStop_latitude"
                type="text"
                class="form-control border border-gray-300 p-2 rounded w-full"
              />
            </div>

            <div class="col-span-2 w-full p-2">
              <label class="block mb-2">ลองจิจูด:</label>
              <input
              id="busStop_longitude"
                type="text"
                class="form-control border border-gray-300 p-2 rounded w-full"
                name="BusStop_name"
              />
            </div>

            <div class="col-span-2 mr-8 w-full p-2">
              <label class="block mb-2">รูปจุดจอด:</label>
              <input
              id="inp_PicTure"
                type="file"
                class="form-control border border-gray-300 p-2 rounded w-full"
                name="BusStop_id"
                accept="image/*"
              />
            </div>
              <div id="map"></div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
