<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
    <%- include("./partials/commonJS.ejs") %> <%-
    include("./partials/commonStyle.ejs") %>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <div class="container mx-auto">
      <div class="grid grid-cols-10 p-1 mt-20 min-h-screen">
        <div class="col-span-8 bg-cret-dark h-f text-center">
           <span class="text-3xl mt-10 font-se">จัดการรถโดยสาร</span> 

           
        </div>
        <div class="col-span-2 bg-cret-light flex justify-center">
            <span class="text-3xl mt-8 font-se">เพิ่มข้อมูลรถโดยสาร</span>


        </div>
      </div>
    </div>
  </body>
</html>
