<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>แก้ไขจุดจอด</title>
  <%- include("./partials/commonJS.ejs") %> <%- include("./partials/commonStyle.ejs") %>
  <%- include("./partials/uploadService.ejs") %>
      <script src="js/admin_edit_bus_stop/index.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=th"></script>

</head>

<body>
  <%- include("./partials/navbar.ejs") %>
    <div class="container mx-auto" style="margin-top: 100px">
      <div class="text-center text-3xl">
        <span>จัดการรถโดยสาร</span>
      </div>

      <div class="flex justify-between">
        <a href="/admin_list_bus_stop" class="btn-main">กลับ</a>
        <button id="btn_update_busstop" class="btn-main">บันทึก</button>
      </div>

      <div class="grid grid-col-2">
        <div class="col-span-1">
          <div class="shadow-md mt-10">
          
          
            <div class="col-span-4 lg:col-span-1">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">ชื่อจุดจอด:</label>
                <input id="inp_busStop_name" type="text" class="form-control border border-gray-300 p-2 rounded w-full" />
              </div>
            </div>
            <div class="col-span-4 lg:col-span-1">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">ละติจูด:</label>
                <input id="inp_busStop_latitude" type="text" class="form-control border border-gray-300 p-2 rounded w-full" />
              </div>
            </div>
            <div class="col-span-4 lg:col-span-1">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">ลองติจูด:</label>
                <input id="inp_busStop_longitude" type="text" class="form-control border border-gray-300 p-2 rounded w-full" />
              </div>
            </div>
            <div class="col-span-4 lg:col-span-1">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">สถานะ:</label>
                <input id="inp_busStop_status" type="text" class="form-control border border-gray-300 p-2 rounded w-full" />
              </div>
            </div>
            <div class="col-span-4 lg:col-span-1">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">รูปจุดจอด:</label>
                <input id="inp_PicTure" type="file" class="form-control border border-gray-300 p-2 rounded w-full" />
              </div>
            </div>
          
          </div>
          </div>
        </div>
        <div class="col-span-1">
          <div id="map" style="height: 400px;"></div>

        </div>

      </div>


      

     
      

     
    </div>
    
</body>

</html>