<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>แก้ไขเส้นทาง</title>
    <%- include("./partials/commonJS.ejs") %> <%-
    include("./partials/commonStyle.ejs") %>
    <script src="js/sortable.min.js"></script>
    <script src="js/admin_edit_road/index.js"></script>
    

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=th"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <style>
    #map-bus {
      height: 500px;
      /* กำหนดความสูงของแผนที่ */
      width: 100%;
      /* กำหนดความกว้างของแผนที่ */
    }

     #map {
      height: 500px;
      /* กำหนดความสูงของแผนที่ */
      width: 100%;
      /* กำหนดความกว้างของแผนที่ */
    }
  </style>

  <body class="flex">
    <%- include("./partials/navbar.ejs") %>
    <div class="container mx-auto" style="margin-top: 100px">
      <div class="text-center text-3xl">
        <span>จัดการเส้นทาง</span>
      </div>

      <div class="flex justify-between">
        <a href="/admin_list_road" class="btn-main">กลับ</a>
        <button id="btn_edit_shuttlebus" class="btn-main">บันทึก</button>
      </div>

      <!-- <div class="grid grid-cols-4 p-4 gap-2">

          
            <div class="col-span-4 lg:col-span-1">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">รหัสรถ:</label>
                <input id="inp_busstop_subName" type="text" class="form-control border border-gray-300 p-2 rounded w-full"
                  name="inpt_short_name" />
              </div>
            </div>
          
          <div class="col-span-4 lg:col-span-1">
            <div class="form-group mr-8 w-full">
              <label class="block mb-2">ชื่อย่อ:</label>
              <input id="inp_shuttle_name" type="text" class="form-control border border-gray-300 p-2 rounded w-full"
                name="inpt_short_name" />
            </div>
          </div>
          <div class="col-span-4 lg:col-span-1">
            <div class="form-group w-full">
              <label class="block mb-2">ชื่อรถ:</label>
              <input id="inp_busstop_thName" class="form-control border border-gray-300 p-2 rounded w-full" name="inp_name" />
            </div>
          </div>
          <div class="col-span-4 lg:col-span-1">
            <div class="form-group mr-8 w-full">
              <label class="block mb-2">สีรถ:</label>
              <input id="inp_busstop_color" class="form-control border border-gray-300 p-2 rounded w-full" name="inp_color" />
            </div>
          </div>
          <div class="col-span-4 lg:col-span-1">
            <div class="form-group mr-8 w-full">
              <label class="block mb-2">เวลาทำการ:</label>
              <input id="inp_busstop_time" type="text" class="form-control border border-gray-300 p-2 rounded w-full"
                name="inpt_time" />
            </div>
          </div>
          <div class="col-span-4 lg:col-span-1">
            <div class="form-group mr-8 w-full">
              <label class="block mb-2">ค่าบริการ:</label>
              <input id="inp_busstop_price" class="form-control border border-gray-300 p-2 rounded w-full" name="inp_price" />
            </div>
          </div>
          <div class="col-span-4 lg:col-span-1 ">
            <div class="form-group mr-8 w-full ">
              <label class="block mb-2">รูปรถ:</label>
              <!-- <img class="" id="previewImageShuttleBus" src="#" alt="Preview Image" class="max-w-full max-h-36 rounded-lg shadow-md">
              <div class=" border">
                <!-- <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                          <!-- </svg> -->
      <!-- <input id="inp_busstop_picture" type="file" class="" name="inp_image" />
              </div> -->
      <!-- <label for="inp_busstop_picture" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">
                          เลือกรูป
                        </label> -->
      <!-- </div>
          
          
          </div>
        -->

      <!-- <div class="col-span-4 lg:col-span-1">
            <label class="block mb-2">สีเส้นรถ:</label>
            <div class="form-group mr-8 w-full border border-gray-300 flex p-1 content-center">
              
              <input id="inp_busstop_polyline" type="color" class="form-control border border-gray-300  rounded w-25%"
                name="inp_line_color" />
                <p>สีที่เลือก: <span id="selectedColorpoly">#ff0000</span></p>
            </div>
          </div>
          <div class="col-span-4 lg:col-span-1">
            <label class="block">สีจุดรถสองแถว:</label>
            <div class="form-group mr-8 w-full border border-gray-300 flex p-1 content-center">
              
              <input id="inp_busstop_symbol" type="color" class="form-control border border-gray-300 rounded w-25%"
                name="input_bus_color" />

                <p>สีที่เลือก: <span id="selectedColorVar">#ff0000</span></p>
            </div>
          </div>
          <div class="col-span-4 lg:col-span-1">
            <div class="form-group mr-8 w-full">
              <label class="block mb-2">ไอคอนรถ:</label>
              <input id="inp_busstop_icon" class="form-control border border-gray-300 p-2 rounded w-full"
                name="input_icon_img" />
            </div>
          </div> -->

      <!-- </div> -->
      <!-- </div> -->

      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3 overflow-y-auto w-10p">
          <h1 class="mt-16">ตำแหน่งหมุด</h1>
          <div class="overflow-y-auto mt-10 h-100 max-h-screen">
            <div id="map-bus"></div>
          </div>
        </div>

        <div>
          <div class="col-span-2 lg:col-span-1 ">
            <h1 class="mt-10">ตำแหน่งที่เลือก</h1>
            <div class=" shadow-md mt-24 p-5 col-span-2 lg:col-span-1">
              <div class="d-felx overflow-y-auto h-48 draggable-zone" id="list_route_this_id"></div>
            </div>
          </div>
          <div class=" flex justify-center text-3xl">
            <h1 class="mt-6">เพิ่มทางผ่าน</h1>
          </div>
          
          <div class="h-56 mt-2">
            <div class="w-full ml-8">
              <div>
                ชื่อจุดผ่าน
                <input type="text" id="inp_busstop_name" class =" border border-gray-300 p-2 rounded w-full" />
              </div>
              <div>
                ละติจูด
                <input type="text" id="busStop_latitude" class="busStop_latitude border border-gray-300 p-2 rounded w-full" />
              </div>
              <div>
                ลองจิจูด
                <input type="text" id="busStop_longitude" class="busStop_longitude border border-gray-300 p-2 rounded w-full" />
              </div>
            </div>
          </div>
          <div class="flex justify-between">
            <button class="btn my-2 bg-primary text-white rounded-lg border border-gray-300 border-2 border-gray-300 p-2 "
              onclick="my_modal_3.showModal()">เลือกตำแหน่ง</button>
            <dialog id="my_modal_3" class="modal">
              <div class="modal-box ">
                <form method="dialog">
                  <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                </form>
                <div class="rounded-lg border border-gray-300 border-2 border-gray-300">
                  <h3 class="text-lg font-bold w-full px-72 p-4 ">เลือกตำแหน่ง</h3>
                  <div class="">
                    <p class="px-4 py-2" id="map"></p>
                  </div>
                </div>
            
              </div>
            </dialog>
            
            <button class="btn-main mx-2" id="btn_create_busstops">บันทึกจุดผ่าน</button>

          </div>
          
          
          





          <div class="mt-10 h-full max-h-screen" id="list_route_this_id"></div>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-2">
          <h1 class="">ตำแหน่งจุดจอด</h1>
          <input type="text" id="search_availible_route" placeholder="ค้นหาจุดจอด" class="border border-gray-300 p-2 rounded w-full" />
          <div class="shadow-md mt-2 p-5">
            <div
              class="grid grid-cols-4 gap-2 overflow-y-auto h-48"
              id="list_availible_route"
            ></div>
          </div>
        </div>

        <div class="col-span-2">
          <div class="col-span-2 lg:col-span-1 text-black rounded">
            <h1 class="">ตำแหน่งจุดผ่าน</h1>
            <input type="text" id="search_availible_route1" placeholder="ค้นหาจุดผ่าน" class="border border-gray-300 p-2 rounded w-full" />
            <div class="shadow-md mt-2 p-5">
              <div
                class="grid grid-cols-4 gap-2 overflow-y-auto h-48"
                id="list_availible_route1"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="card bg-white shadow-md rounded p-4">
        <div class="card-header text-lg font-bold mb-4">เพิ่มรถสองแถว</div>
        <div class="card-body">
          <form action="/shuttlebus/add" method="post">
            <div class="form-group flex mb-4">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">รหัสรถ:</label>
                <input type="text" class="form-control border border-gray-300 p-2 rounded w-full" name="shuttleBus_id" />
              </div>
              <div class="form-group w-full">
                <label class="block mb-2">ชื่อรถ:</label>
                <input type="text" class="form-control border border-gray-300 p-2 rounded w-full" name="shuttleBus_name" />
              </div>
            </div>
      
            <div class="form-group flex mb-4">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">สีรถ:</label>
                <input type="text" class="form-control border border-gray-300 p-2 rounded w-full" name="shuttleBus_id" />
              </div>
              <div class="form-group w-full">
                <label class="block mb-2">เวลาทำการ:</label>
                <input type="text" class="form-control border border-gray-300 p-2 rounded w-full" name="shuttleBus_name" />
              </div>
            </div>
      
            <div class="form-group flex mb-4">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">ค่าบริการ:</label>
                <input type="text" class="form-control border border-gray-300 p-2 rounded w-full" name="shuttleBus_id" />
              </div>
              <div class="form-group w-full">
                <label class="block mb-2">รูปรถ:</label>
                <input type="text" class="form-control border border-gray-300 p-2 rounded w-full" name="shuttleBus_name" />
              </div>
            </div>
      
            <div class="form-group flex mb-4">
              <div class="form-group mr-8 w-full">
                <label class="block mb-2">สีเส้นรถ:</label>
                <input type="text" class="form-control border border-gray-300 p-2 rounded w-full" name="shuttleBus_id" />
              </div>
              <div class="form-group w-full">
                <label class="block mb-2">สีรถสองแถว:</label>
                <input type="text" class="form-control border border-gray-300 p-2 rounded w-full" name="shuttleBus_name" />
              </div>
            </div>
      
            <div class="form-group flex mb-4">
              <div class="form-group w-full">
                <label class="block mb-2">ไอคอนรถ:</label>
                <input type="text" class="form-control border border-gray-300 p-2 rounded w-full" name="shuttleBus_id" />
              </div>
            </div>
      
            <div class="form-group flex justify-end">
              <input type="submit" class="btn btn-info bg-blue-500 text-white p-2 rounded" value="เพิ่มข้อมูล" />
            </div>
          </form>
        </div>
      </div> -->
    </div>
  </body>
</html>
