<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <title>Shuttle Bus Route</title>
    <%- include("./partials/commonJS.ejs") %> <%-
    include("./partials/commonStyle.ejs") %>
    <style>
      html,
      body,
      #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=th"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/shuttlebus02/index.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="grid grid-cols-10 gap-2 min-h-screen">
      <div class="bg-primary col-span-3">
        <div class="content-center ">
          <div class="flex justify-center items-center content-center h-screen">
            <img 
            class="ml-6"
            src="https://i.imgur.com/uQzstAW.png" 
            alt="Description of image" 
            style="width: 75%; height: auto;">   
          </div>
        </div>
      
      
        
      
        
        <div class="font-semibold text-white flex w-full ">
          <a href="/" class="flex  ">
           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6"
            width="36" height="36">
              <path strokeLinecap="round" strokeLinejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            <span class="font-semibold text-2xl">หน้าหลัก</span>
            
          </a>
      </div>

        <div class="grid grid-cols-5 gap-4 h-full bg-test">
          <div class="bg-test-dark col-span-1">
            <div class="m-2 text-white text-1xl font-semibold content-center flex flex-col items-center">
            </div>

            <a
              href="shuttlehome" 
              class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-primary "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"
                />
              </svg>
              <div class="m-1 text-white text-1xl font-semibold content-center flex flex-col items-center">
                <span>สาย 2</span>
                

              </div>
              
            </a>



            <a
              href="shuttlehome" 
              class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-test "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"
                />
              </svg>
              <div class="m-2 text-white text-1xl font-semibold content-center flex flex-col items-center">
                <span>สาย 3</span>
                

              </div>
              
            </a>

            <a
              href="shuttlehome" 
              class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-test "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"
                />
              </svg>
              <div class="m-2 text-white text-1xl font-semibold content-center flex flex-col items-center">
                <span>สาย 4</span>
                

              </div>
              
            </a>

            <a
              href="shuttlehome" 
              class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-test "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"
                />
              </svg>
              <div class="m-2 text-white text-1xl font-semibold content-center flex flex-col items-center">
                <span>สาย 9</span>
                

              </div>
              
            </a>

            <a
              href="shuttlehome" 
              class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-test "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"
                />
              </svg>
              <div class="m-2 text-white text-1xl font-semibold content-center flex flex-col items-center">
                <span>สาย 10</span>
                

              </div>
              
            </a>

            

           
            
          </div>
          

          <div class="col-span-4 p-2 mt-2 pb-4">

           
            



            

            

          </div>
        </div>
        
      </div>
      <div class="col-span-7">
        <div id="map-canvas"></div>
      </div>
    </div>

    <script src="js/homePage/index.js"></script>
  </body>
</html>
