<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <title>Shuttle Bus Route</title>
    <%- include("./partials/commonJS.ejs") %> <%-
    include("./partials/commonStyle.ejs") %>
    <style>
      html,
      body,
      #map-bus {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=th"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/shuttlehome/index.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="grid grid-cols-10 gap-2 min-h-screen">
      <div class="bg-test col-span-3">
        <div class="content-center">
          <div class="flex justify-center">
            <a href="/">
            <img class="" src="https://i.imgur.com/z7YDGyQ.jpg" alt="Description of image" style="width: full; height: full" />
            </a>
          </div>
        </div>

        <!-- <div class="font-semibold text-white flex w-full">
          <a href="/" class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              className="size-6"
              width="30"
              height="30"
            <!-- >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5"
              />
            </svg> 
            <span class="font-semibold text-xl">หน้าหลัก</span> 
          </a>
        </div>  -->

        <div class="grid grid-cols-5 gap-4 h-full">
          <div class="bg-test-dark col-span-1"style="height: calc(100% - 282.64px);">
            <div
              class="m-2 text-white text-1xl font-semibold content-center flex flex-col items-center"
            ></div>
            <div class="font-semibold text-white flex w-full justify-center">
              <a href="/mainpage" class="flex justify-center" >
                
                
                <span class=" pb-2">หน้าหลัก</span>
              </a>
            </div>
            <div class="ml-4 mr-4 p-2 content-center">
              <div class="border border-gray-300 ">

            </div>
          </div>
           
            

            <span class="text-white font-semibold flex justify-center">ข้อมูลสายรถ</span>

            <div id="list_shuttle_bus_data">
<!-- <span id="span_bus_02"
  class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-primary cursor-pointer">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
    class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round"
      d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5" />
  </svg>
  <div class="m-1 text-white text-1xl font-semibold content-center flex flex-col items-center">
    <span>สาย 2</span>
  </div>
</span> -->
            </div>
           

            <!-- <span
              id="span_bus_03"
              class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-primary cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"
                />
              </svg>
              <div
                class="m-1 text-white text-1xl font-semibold content-center flex flex-col items-center"
              >
                <span>สาย 3</span>
              </div>
            </span>

            <span
              id="span_bus_04"
              class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-primary cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"
                />
              </svg>
              <div
                class="m-1 text-white text-1xl font-semibold content-center flex flex-col items-center"
              >
                <span>สาย 4</span>
              </div>
            </span>

            <span
              id="span_bus_09"
              class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-primary cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"
                />
              </svg>
              <div
                class="m-1 text-white text-1xl font-semibold content-center flex flex-col items-center"
              >
                <span>สาย 9</span>
              </div>
            </span>

            <span
              id="span_bus_10"
              class="flex flex-col items-center active-nav-link text-white nav-item ml-4 mr-4 my-4 hover:bg-primary cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"
                />
              </svg>
              <div
                class="m-1 text-white text-1xl font-semibold content-center flex flex-col items-center"
              >
                <span>สาย 10</span>
              </div>
            </span> -->
          </div>

          <div class="col-span-4 p-2 mt-2 pb-4" id="detail_bus">
            <!-- <div class="mb-4">
              <div class="flex justify-center font-semibold ">
                <span>สาย 2 : บ้านโคกฟันโปง – บ้านพระคือ</span>
              </div>
              <div class="flex justify-center font-semibold">
                <img src="image/resbus02.png" alt="รูปรถสาย 2">
              </div>
              <div>
                <span>
                  จุดจอด :
                  บขส.3
                  ทางเข้าบขส.3
                  ประตูน้ำขอนแก่น
                  แมคโคร มิตรภาพ
                  ตลาดอู่ฟู่
                  แยกเจริญศรี*
                  โรงงานขอนแก่นแหอวน
                  โรงเรียนแก่นนครวิทยาลัย
                  โรงเรียนโสตศึกษา
                  โรงเรียนเทศบาลวัดกลาง
                  4แยก วัดกลาง*
                  แฟรี่พลาซ่าขอนแก่น
                  ตลาดบางลำภู
                  โรงเรียนขอนแก่นวิทยายนด้านหลัง
                  แยกหอนาฬิกา*
                  บขส.เก่า
                  แยกสามเหลี่ยม*
                  โรงพยาบาลศรีนครินทร์
                  มหาวิทยาลัยขอนแก่น ฝั่งถนนมิตรภาพ
                  โรงเรียนตํารวจภูธรภาค 4
                  โลตัสขอนแก่น2*
                  บ้านสำราญ
                  แยกแก่นนคร*
                  สถานีรถไฟ
                </span>
              </div>
              <br />
              <div>
                <span>รถสี : เหลือง</span>
              
                <div>
                  <span>เวลาทำการ : 06:00-19:00</span>
                </div>
                <div>
                  <span>ค่าบริการ : 13 บาท</span>
                </div>
              </div>
            </div> -->
          </div>
          
        </div>
      </div>
      <div class="col-span-7">
        <div id="map-bus" style="height: 100%; width: 100%;"></div>
      </div>
      
   

    </div>
  </body>
</html>
